# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# local env files
.env.local
.env.*.local

# production
lib/
dist/
build/
.cache/
.vite/

# misc
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
